@import 'imports';

.App {
  background: #a3d9e7;
}

.WelcomePage {

}

.WelcomePage--is-pending {
  .Header {
    opacity: 0
  }

  .Card img {
    opacity: 0;
  }

  .content--master {
    opacity: 0;
  }
}

.content--master {
  transition: opacity .2s $out-quad;
  background: $grey-100; 
  position: relative;
  z-index: 3;
  min-height: 1200px;

  .WelcomePage--desktop & {
    @include handheld {
      top: 480px;
    }
    @include tablet {
      top: 640px;
    }
  }
}


// Welcome Page Offer Content

.feature-cards {
  background: $blue-grey-50;
  padding: 48px 0;

  @include tablet {
    padding: 48px 20px;
  }
  @include handheld-landscape {
    padding: 48px 0;
  }

  .Card {
    float: left;
    width: 100%;
  }
  
  .Carousel--is-active & {
    padding-right: 0;
    padding-left: 0;
  }
}

.Carousel--is-active .Card {
  padding: 10px 20px;
  margin-bottom: 0;
}

.featured-mini-cards {
  background: $grey-50;
  padding: 48px 20px;
}

.feature-articles {
  min-height: 800px;
  background: $orange-500;
}


.Modal--geo-change {
  border-radius: 3px;
  padding: 0 0px;
  // background: #FFF;

  @include tablet {
    padding: 0;
  }

  h1 {
    margin: 0;
    padding: 12px 28px 6px 28px;
    font-weight: 100;
    font-size: 18px;
    color: $amber-200;
    text-align: left;

    @include tablet {
      padding: 24px 8px 12px 8px;
      font-size: 28px;
    }
  }

  h2 {
    padding: 12px 8px 12px 8px;
    margin-bottom: 24px;
    color: #FFF;
    font-size: 14px;
    font-weight: 300;
    color: #FFF;
    border-bottom: 1px solid rgba(#FFF, 0.2);
  }

  .Modal--geo-change__current-geo {
    font-weight: 600;
  }

  form {
    padding: 0 20px;
    @include tablet {
      padding: 0;
    }
  }

  input {
    box-sizing: border-box;
    border-radius: 0;
    border: 0;
    border-bottom: 1px dashed rgba(#FFF, 0.4);
    display: block;
    width: 100%;
    margin: 0;
    padding: 6px 8px;
    font-size: 24px;
    line-height: 48px;
    font-weight: 600;
    background: transparent;
    color: #FFF;
    &:focus {
      outline: none;
    }

   
  }

  ::-webkit-input-placeholder {
     color: rgba(#FFF, 0.8);
  }

  :-moz-placeholder { /* Firefox 18- */
     color: rgba(#FFF, 0.8);  
  }

  ::-moz-placeholder {  /* Firefox 19+ */
     color: rgba(#FFF, 0.8);  
  }

  :-ms-input-placeholder {  
     color: rgba(#FFF, 0.4);  
  }

  .SelectableList {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-top: 12px;
  }

  .SelectableList__item {
    background: $grey-50;
    background: transparent;
    // border-left: 4px solid $grey-50;
    border-radius: 3px;
    margin-bottom: 1px;
    padding: 8px 28px;
    font-size: 18px;
    color: $grey-800;
    font-weight: 300;
    color: #FFF;
    cursor: default;

    @include tablet {
      font-size: 20px;
      padding: 8px;
    }
  }

  .SelectableList__item--active {
    background: rgba($brand-color-tertiary, 1);
    // border-left: 4px solid rgba($brand-color-tertiary, 0.9);
  }
}

// BUTTONS (temp)

.Button--icon {
  display: block;
  background: transparent;
  border: 0;
  padding: 0;
  margin: 0;
  &:focus {
    outline: none;
  }
}






