.AutoSuggestList {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  background: #FFF;
  border-radius: 2px;
  overflow: hidden;

  box-shadow: 0px 2px 6px rgba(#000, 0.2);

  @include desktop {
    box-shadow: none;
  }

  .WelcomeVideoHeader--desktop & {
    z-index: 3;
    position: fixed;
  }

  opacity: 0;
  transform: translateY(25px) scale(0.8);
  transition: opacity .2s .2s $out-quad, transform .2s .2s $in-quad;
}

.AutoSuggestList--is-visible {
  transition: opacity .2s .3s $out-quad, transform .2s .3s $out-back;
  transform: translateY(-5px) scale(1);
  opacity: 1;

  .WelcomeVideoHeader--is-scrolling & {
    transition-delay: 0s;
  }
}



.AutoSuggestList__list__section__header {
  @extend .layout;
  @extend .horizontal;
  @extend .center;
  @extend .justified;
  font-size: 13px;
  line-height: 32px;
  background: $grey-200;
  padding: 0;

  div:first-child {
    margin-left: 12px;
  }
}

.AutoSuggestList__list__section__header__button {
  display: block;
  border: 0;
  text-transform: uppercase;
  padding: 6px 12px;
  height: 100%;
  margin: 0;
  font-weight: 600;
  background: transparent;
  color: $orange-500;
  &:focus {
    outline: none;
    color: $brand-color-primary;
  }
}

.AutoSuggestList__list__item {
  @extend .layout;
  @extend .horizontal;
  @extend .center;

  cursor: pointer;
  font-weight: 400;
  font-size: 14px;

  border-bottom: 1px solid rgba($grey-200, 1);
  &:last-child {
    border-bottom: 0
  }

  &:focus {
    background: rgba($brand-color-secondary, 0.3);
    outline: none;
  }
}

.AutoSuggestList__list__item__logo {
  @extend .layout;
  @extend .vertical;
  @extend .center;
  @extend .center-justified;
  
  @include handheld {
    width: 48px;
    height: 48px;
  }
  width: 60px;
  height: 54px;

  margin: 0 5px;
  overflow: hidden;
  img {
    padding: 5px 6px;
    display: block;
    max-width: 100%;
  }

  .dui_IconWrapper {
    @extend .layout;
    @extend .horizontal;
    @extend .center-justified;
    width: 100%;
    fill: $grey-500;
  }
}