.Header {
  background: $brand-color-primary;
  padding: 0 8px;
}

.Header--welcome-bar {
  @extend .layout;
  @extend .horizontal;
  @extend .center;

  position: fixed;

  @include tablet {
    
  }
  @include handheld-landscape {
    position: relative;
  }

  transition: opacity .2s;
  top: 0;
  width: 100%;
  z-index: 9;

  & > div {
    width: 100%;
    @extend .layout;
    @extend .horizontal;
    @extend .center;
    @extend .justified;

    & > div {
      @extend .layout;
      @extend .horizontal;
      @extend .center;
    }
  }

  .dui_IconWrapper {
    
  }
}

.Header__brand-logo {
  height: 36px;
  @include tablet {
    
  }
}

.Header__icon {
  display: block;
  width: 32px;
  height: 32px;
  margin: 0 8px 0 8px;

  svg {
    width: 100%;
    height: 100%;
  }
}