.WelcomeVideoHeader {
  overflow: hidden;
}

.hero--master {
  @extend .layout;
  @extend .vertical;
  @extend .center;
  @extend .end-justified;

  position: relative;
  top: 0;
  width: 100%;
  z-index: 3;

  @include handheld {
    height: 480px;
  }
  @include tablet {
    height: 640px;
  }
  @include handheld-landscape {
    height: 380px;
  }

  .WelcomeVideoHeader--desktop & {
    position: fixed;
  }

  transition: all $masthead-intro-transition-duration $masthead-intro-transition-easing;
  opacity: 0;

  .WelcomeVideoHeader--video-is-ready & {
    opacity: 1;
  }

  .WelcomeVideoHeader--is-scrolling & {
    transition: none;
  }
}

.hero--master__content {
  @extend .layout;
  @extend .vertical;
  @extend .center;
  @extend .center-justified;
  
  position: relative;
  z-index: 4; 
  width: 100%;

  @include handheld {
    padding-top: 30px;
    height: 100%;
  }
  @include tablet {
    padding-top: 60px;
    height: 100%;
  }
  @include handheld-landscape {
    padding-top: 0%;
    height: 100%;
  }
}

.logo--valpak {
  @extend .layout;
  @extend .vertical;
  @extend .center;
  @extend .center-justified;
  position: relative;
  
  @include handheld {
    width: 220px;
    margin-bottom: 30px;
  }
  @include tablet {
    width: 300px;
    margin-bottom: 30px;
  }
  @include handheld-landscape {
    width: 240px;
    margin-bottom: 3%;
  }

  transition: transform $logo-intro-transition-duration $logo-intro-transition-delay $logo-intro-transition-easing;
  transform: scale(0);

  .WelcomeVideoHeader--video-is-ready & {
    transform: scale(1);
  }

  .WelcomeVideoHeader--is-scrolling & {
    transition: none;
  }
}

.tagline--valpak {
  @extend .layout;
  @extend .vertical;
  @extend .center;
  @extend .center-justified;
  position: relative;
  
  @include handheld {
    width: 180px;
    margin-bottom: 80px;
  }
  @include tablet {
    width: 230px;
    margin-bottom: 120px;
  }
  @include handheld-landscape {
    width: 180px;
    margin-bottom: 8%;
  }

  transition: all $tagline-intro-transition-duration $tagline-intro-transition-delay $tagline-intro-transition-easing;
  transform: scale(0.8) translateY(100px);
  opacity: 0;

  .WelcomeVideoHeader--video-is-ready & {
    transform: scale(1) translateY(0);
    opacity: 1;
  }

  .WelcomeVideoHeader--is-scrolling & {
    transition: none;
  }
}

.search--master {
  @extend .layout;
  @extend .vertical;
  @extend .center;
  @extend .center-justified;
  position: relative;
  z-index: 6;
  width: 100%;  
}